# Django
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc

# Pycharm project files
.idea/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo

# Django stuff:
*.log
local_settings.py

# SQL database
*.sqlite3

# MacOS
.DS_Store

# Environments
.env
.env/
.venv
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Pyre type checker
.pyre/

# Node
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# Next.js build output
.next/

# Nuxt.js build output
.nuxt/

# Gridsome build output
.dist/

# Gatsby files
.cache/
public

# VuePress build output
.vuepress/dist

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# General
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
